In [1]:
import pandas as pd

In [2]:
s = pd.Series([1116, 12259, 65119, 16699], index=['서울','부산','인천','대구'])
s

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [3]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [4]:
s.values

array([ 1116, 12259, 65119, 16699], dtype=int64)

In [5]:
s.name = '농장물 생산량(톤)'

In [6]:
s.index.name = '지역구'

In [7]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농장물 생산량(톤), dtype: int64

In [8]:
s1 = s/1000

In [9]:
s1.name = '농작물 생산량(k톤)'

In [10]:
s1

지역구
서울     1.116
부산    12.259
인천    65.119
대구    16.699
Name: 농작물 생산량(k톤), dtype: float64

In [11]:
(s/4456952*100).round(2) #소숫점 둘째까지

지역구
서울    0.03
부산    0.28
인천    1.46
대구    0.37
Name: 농장물 생산량(톤), dtype: float64

In [12]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농장물 생산량(톤), dtype: int64

In [13]:
s[0], s['서울']

(1116, 1116)

In [14]:
s[[0,1]]

지역구
서울     1116
부산    12259
Name: 농장물 생산량(톤), dtype: int64

In [15]:
s[[1,0]]

지역구
부산    12259
서울     1116
Name: 농장물 생산량(톤), dtype: int64

In [16]:
s[['부산','서울']]

지역구
부산    12259
서울     1116
Name: 농장물 생산량(톤), dtype: int64

In [17]:
s[(s>10000) & (s<20000)]

지역구
부산    12259
대구    16699
Name: 농장물 생산량(톤), dtype: int64

In [18]:
s[(s/4456952*100)>0.5]

지역구
인천    65119
Name: 농장물 생산량(톤), dtype: int64

In [19]:
s[1:3]

지역구
부산    12259
인천    65119
Name: 농장물 생산량(톤), dtype: int64

In [20]:
s['서울':'대구'] # 키값으로 입력하면 포함한다.

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농장물 생산량(톤), dtype: int64

In [21]:
s

지역구
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농장물 생산량(톤), dtype: int64

In [22]:
s.서울

1116

In [23]:
d1 = {'서울':1, '부산':2}
pd.Series(d1)

서울    1
부산    2
dtype: int64

In [24]:
for k, v in s.items():
    print(k,v)

서울 1116
부산 12259
인천 65119
대구 16699

In [25]:
print('제주도' in s)
'서울' in s.keys()

False

True

In [26]:
s21 = pd.Series([1116, 12259, 65119, 16699], index=['서울','부산','인천','대구'])
s21

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [27]:
s20 = pd.Series([628,11075,56013,15695], index=['서울','부산','인천','대구'])

In [28]:
s_sub = s21 - s20

In [29]:
import numpy as np
type(np.nan)

float

In [30]:
s_sub.astype(int)

서울     488
부산    1184
인천    9106
대구    1004
dtype: int32

In [31]:
s_sub = s21.sub(s20, fill_value=0)

In [32]:
s_sub2 = s21.sub(s20)

In [33]:
s_sub2.notnull()

서울    True
부산    True
인천    True
대구    True
dtype: bool

In [34]:
s21

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [35]:
s20

서울      628
부산    11075
인천    56013
대구    15695
dtype: int64

In [36]:
rs = ((s21 - s20) / s20 * 100).round(2)

In [37]:
rs['서울']

77.71

In [38]:
rs['서울'] = 0

In [39]:
rs[0] = 123

In [40]:
rs

서울    123.00
부산     10.69
인천     16.26
대구      6.40
dtype: float64

In [41]:
del rs['대구']

In [42]:
del rs['서울']

In [43]:
rs

부산    10.69
인천    16.26
dtype: float64

In [44]:
rs['서울'] = 77.71

In [45]:
rs

부산    10.69
인천    16.26
서울    77.71
dtype: float64

In [46]:
rs['대구'] = 6.40

In [47]:
rs

부산    10.69
인천    16.26
서울    77.71
대구     6.40
dtype: float64

In [48]:
import random

In [57]:
key100 = random.sample(list(range(1000)),100)
key80 = random.sample(list(range(1000)),80)
value100 = random.sample(list(range(1000)),100)
value80 = random.sample(list(range(1000)),80)
s100 = pd.Series(value100, index=key100)
s80 = pd.Series(value80, index=key80)

In [58]:
len(set(key80))

80

In [59]:
s_100_80_sub = s100 - s80

In [60]:
s_100_80_mul = s100.sub(s80, fill_value=0)

In [61]:
s_100_80_mul.head

<bound method NDFrame.head of 10     141.0
11    -272.0
13    -999.0
17     857.0
20      41.0
       ...
963   -210.0
967   -136.0
982   -514.0
984    855.0
993    773.0
Length: 170, dtype: float64>